[submodule "example/polybench"]
	path = example/polybench
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1.git
[submodule "example/machsuite"]
	path = example/machsuite
	url = https://github.com/JianyiCheng/MachSuite.git
[submodule "example/rosetta"]
	path = example/rosetta
	url = https://github.com/cornell-zhang/rosetta
[submodule "polygeist"]
	path = polygeist
	url = https://github.com/pal-stdr/polygeist-forked-umbria.git
	branch = polsca-umbria
[submodule "polymer"]
	path = polymer
	url = https://github.com/pal-stdr/polymer-forked-umbria.git
	branch = polsca-umbria
[submodule "papi"]
	path = papi
	url = https://github.com/icl-utk-edu/papi.git
[submodule "scalehls-umbria-forked"]
	path = scalehls-umbria-forked
	url = https://github.com/pal-stdr/scalehls-umbria-forked.git
	branch = scalehls-umbria-dev
[submodule "llvm-16-src"]
	path = llvm-16-src
	url = https://github.com/llvm/llvm-project.git
	branch = release/16.x
